.modalbg{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalc{
  border-radius: 1rem;
  width: 35rem;
  height: 27rem;
  background-color:rgb(7, 6, 6);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 2rem;
  color:white;
}
.btn{
    border-radius: 2rem;
    background-color: transparent;
    border-color: whitesmoke;
    width: 8rem;
    color:white;
    height: 2rem;
}

@media (max-width: 425px){
  .modalc{
    width: 20rem;
    height: 13rem;
    font-size: 1rem;
    padding: .5rem;
  }
}