
.home-text{
  color:midnightblue;
  border-radius: 2rem;
  padding: 0rem; 
  display: flex;
  justify-content:flex-start;
  font-size: 1.5rem;
  font-family:sans-serif
}
.head-text{
  color: white;
  border-radius: 2rem;
  padding: 2rem; 
  display: flex;
  justify-content:center;
  font-size: 5rem;
  font-family:sans-serif
}

.linkss{
  font-size: 2rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
  display:flex;
  justify-content: center;
}

.cardh{
  color:lightgray;
  margin-right: 2rem;
  -ms-flex-align: flex-start;
  text-decoration: none;
  padding: 7rem;
}
.card{
  color:lightgray;
  margin-right: 2rem;
  -ms-flex-align:center;  
  text-decoration: none;
  padding: 7rem;
}

.cardv{
  color:lightgray;
  margin-right: 2rem;
  -ms-flex-align:flex-end;
  text-decoration: none;
  padding: 7rem;
}

.about-btn{
  background-color: rgb(96, 98, 231);
  border-color:rgb(10, 118, 226);
  border-width: .1rem;
  font-size: 1.5rem;
  width: 10rem;
  height: 2.7rem;
  border-radius: .5rem;
  color: rgb(230, 233, 240);
}


@media (max-width:425px) {
  .head-text{
    font-size: 2.5rem;
  }
  .wel-text{
    font-size: 2rem;
  }
}
@media (max-width:375px){
  .head-text{
    font-size: 2rem;
  }
  .wel-text{
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .head-text{
    font-size: 1.5rem;
  }
  .wel-text{
    font-size: 1rem;
  }
}

.himage{
  border-radius: 25rem;
  height: 40rem;
  width: 35rem;
  justify-content:flex-end;
}
.wel-text{
  color:lightskyblue;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-family:sans-serif;
}
 .text1{
   padding: 10rem;
 }
.text2{
  font-size: 1.5rem;
}

.loginsignup{ 
  background-color: black;
  border-color:rgb(10, 118, 226);
  border-width: .1rem;
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  border-radius: .5rem;
  color: rgb(0, 81, 255);
  display:flex;
  justify-content: center;
}