
.home-text{
  color:tomato;
  border-radius: 2rem;
  padding: 0rem; 
  display: flex;
  justify-content:center;
  font-size: 1.5rem;
  font-family:sans-serif
}
.head-text{
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content:space-around;
  font-size: 5rem;
  font-family:sans-serif
}

.linkss{
  font-size: 1.5rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
  display:flex;
  justify-content: center;
  justify-content: space-around;
}

.cardh{
  color:lightgray;
  margin-right: 2rem;
  -ms-flex-align: flex-start;
  text-decoration: none;
  background-color:rgb(65, 57, 57);
  border-radius: .5rem;
}
.card{
  color:lightgray;
  margin-right: 2rem;
  -ms-flex-align:center;  
  text-decoration: none;
  background-color:rgb(68, 63, 63);
  border-radius: .5rem;
}

.cardv{
  color:lightgray;
  margin-right: 2rem;
  -ms-flex-align:flex-end;
  text-decoration: none;
  background-color:rgb(61, 58, 58);
  border-radius: .5rem;
}

.about-btn{
  background-color: rgb(231, 177, 96);
  border-color:#f1eeeb;
  border-width: .2rem;
  font-size: 1.5rem;
  width: 6rem;
  height: 2.7rem;
  border-radius: .5rem;
  color:black;
  margin-top:4%;
}

.lsindiv{
  display:flex;
  justify-content:space-evenly;
  margin: 3rem;
}

.himage{
  border-radius: 25rem;
  /* height: 40rem; */
  width: 18%;
}
.himage2{
  border-radius: 20rem;
  visibility: hidden;
  width: 52%;
  margin: 20%
}
.wel-text{
  color:khaki;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family:sans-serif;
}

.text2{
  font-size: 1.5rem;
}


@media (max-width:425px) {
  .head-text{
    font-size: 2.5rem;
  }
  .wel-text{
    font-size: 2rem;
  }
  .text2{
    font-size: 1rem;
  }  
  .himage{
    visibility: hidden;
  }
  .himage2{
    visibility: visible;
  }
  .linkss{
    margin-bottom: 20%;
  }
  .about-btn{
    margin-bottom: 10%;
  }
}
@media (max-width:375px){
  .head-text{
    font-size: 2rem;
  }
  .wel-text{
    font-size: 2.5rem;
  }
  .text2{
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .head-text{
    font-size: 2rem;
  }
  .wel-text{
    font-size: 2rem;
  }
  .text2{
    font-size: 1rem;
  }
}

