*{
  box-sizing: border-box;
}

body {
  margin:2rem;
  background-color:black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 62.5%;
}