*{
  box-sizing: border-box;
}

body {
  margin:2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* overflow: hidden; */
  background-image: url('https://mocah.org/uploads/posts/4561048-cube-black-orange-white-shiny-reflection-minimalism-simple-3d.jpg');
  background-size: contain;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 90%;
}

